<!DOCTYPE html>
<html lang="pt-BR" class="min-h-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimukkm-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="ssr" content="{{ view_data.is_ssr }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  {{{ vite_react_refresh }}}
  {{{ vite }}}
  {{{ inertia_head }}}
</head>

<body class="h-full">
  {{{ inertia_body }}}
</body>

</html>